<nav class="layout-footer footer  ">
    <div class="container-fluid d-flex flex-wrap justify-content-center text-center container-p-x pb-3">
        <div class="pt-3 ">
            <div class="copyright " style="">Copyright <span class="num">&copy;2021</span><a
                    href="https://shengsky.blog.csdn.net/" target="_blank">沈东潮</a> 版权所有
            </div>
        </div>
    </div>
</nav>

</div>
<!-- Overlay -->
<div class="layout-overlay layout-sidenav-toggle"></div>

<!-- [ 右侧] 结束 -->

<!-- Core scripts -->
<script src="{{url}}/js/bootstrap.js"></script>
<script src="{{url}}/js/sidenav.js"></script>
<script src="{{url}}/js/layout-helpers.js"></script>
<script src="{{url}}/js/material-ripple.js"></script>


<!-- Libs -->
<script src="{{url}}/libs/popper/popper.js"></script>
<script src="{{url}}/libs//echarts.min.js"></script>

<!-- Demo -->
<script src="{{url}}/js/demo.js"></script>
<script src="{{url}}/plugins/datatables/datatables.js"></script>
<script src="{{url}}/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{url}}/js/datatables/product.js"></script>


</div>
</div>
</body>

</html>
