{% include "public/header.html "%}
<!-- [ 头部 ] 结束 -->
<div class="page-header">
    <div class="row align-items-center ml-2">
        <div class="col">
            <h3 class="page-title mt-2">销售管理</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">首页</a></li>
                <li class="breadcrumb-item "><a href="/admin/transaction">交易管理</a></li>
                <li class="breadcrumb-item active"><a>修改交易</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h6 class="card-header">修改交易</h6>
                <div class="card-body">
                    <form method="post" action="/admin/transaction/doupdate">
                        <input name="tid" value="{{tid}}" hidden>

                        <div class="form-group ">
                            <i style="color: red">*</i>
                            <label class="form-label">客户编号/姓名</label>
                            <select class="custom-select" name="cid">
                                {% for v in client %}
                                <option value="{{v.cid}}" {{cid== v.cid ?
                                'selected' : '' }}>
                                {{v.cid}}/{{v.clientName}}
                                </option>
                                {%endfor%}
                            </select>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group ">
                            <i style="color: red">*</i>
                            <label class="form-label">商品/编号/名称/销售价格</label>
                            <select class="custom-select" name="productMark">
                                {% for v in product %}
                                <option value="{{v.productMark}}" {{productMark== v.productMark ?
                                'selected' : '' }}>
                                {{v.productMark}}/ {{v.productName}}/{{v.saleMoney}}
                                </option>
                                {%endfor%}
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group ">
                            <i style="color: red">*</i>
                            <label class="form-label">交易数量</label>
                            <input type="number" class="form-control" name="TransactionNum"
                                   value="{{TransactionNum | abs}}"
                                   placeholder="请输入商品数量">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group ">
                            <i style="color: red">*</i>
                            <label class="form-label">交易总价</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text">￥</span>
                                <input type="text" class="form-control" name="totalMoney" value="{{totalMoney}}"
                                       oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="4"
                                       placeholder="请输入总价">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <i style="color: red">*</i>
                            <label class="form-label">付款方式</label>
                            <div class="input-group-prepend">
                                <select class="custom-select" name="payWay">
                                    {% for v in transaction %}
                                    <option value="{{v.payWay}}" {{payWay== v.payWay ?
                                    'selected' : '' }}>
                                    {{v.payWay}}
                                    </option>
                                    {%endfor%}
                                </select>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="form-group  ">
                            <i style="color: red">*</i>
                            <label class="form-label">交易状态</label>
                            <div class="input-group-prepend">
                                <input type="text" class="form-control" name="status" value="{{status}}" maxlength="1"
                                       oninput="this.value = this.value.replace(/[^0-1]/g, '');"
                                       placeholder="1表示完成，0表示未完成">
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <i style="color: red">*</i>
                            <label class="form-label">收款人</label>
                            <div class="input-group-prepend">
                                <select class="custom-select" name="payee">
                                    {% for v in transaction %}
                                    <option value="{{v.payee}}" {{payee== v.payee ?
                                    'selected' : '' }}>
                                    {{v.payee}}
                                    </option>
                                    {%endfor%}
                                </select>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="text-right ">
                            <button type="submit" class="btn btn-primary btn-lg">确认修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "public/footer.html" %}
