{% include "public/header.html "%}
<!-- [ 头部 ] 结束 -->
<div class="page-header">
    <div class="row align-items-center ml-2">
        <div class="col">
            <h3 class="page-title mt-2">销售管理</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">首页</a></li>
                <li class="breadcrumb-item active"></li>
                <a>退货管理</a>
            </ul>
        </div>
        <div class="col-auto">
            <a href="/admin/return/add" class="btn btn-primary mr-1">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <table class="table table-center table-hover datatable">
                        <thead class="thead-light">
                        <tr>
                            <th>退货编号</th>
                            <th>退货时间</th>
                            <th>退货类型</th>
                            <th>退货来源</th>
                            <th>商品名称</th>
                            <th>退货人姓名</th>
                            <th>退货数量</th>
                            <th>联系方式</th>
                            <th>状态</th>

                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody id="show_tbody">
                        {% for v in data%}
                        <tr>
                            <td>{{v.returnMark}}</td>
                            <td>{{v.returnTime | date('Y-m-d')}}</td>
                            <td>{{v.returnType}}</td>
                            <td>{{v.returnTrace}}</td>
                            <td>{{v.returnProduct}}</td>
                            <td>{{v.returnName}}</td>
                            <th>{{v.returnNum}}</th>
                            <th>{{v.returnPhone}}</th>
                            {% if v.returnState == '未完成'%}
                            <th class="text-danger">{{v.returnState}}</th>
                            {% else %}
                            <th>{{v.returnState}}</th>
                            {% endif %}
                            <td class="text-right">
                                <a href="/admin/return/mod/{{v.id}}" class="btn btn-sm btn-white text-success mr-2"><i
                                        class="far fa-edit mr-1"></i> 编辑</a>
                                {% if session.name == "admin" %}
                                <a href="/admin/return/del/{{v.id}}" class="btn btn-sm btn-white text-danger del"
                                   onclick="return confirm('你确定要删除【{{v.returnName}}】吗？')">
                                    <i class="far fa-trash-alt mr-1 "></i>删除
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include "public/footer.html" %}



