{% include "public/header.html" %}
            <!-- [ 右侧 ] 结束 -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col ml-3">
                        <h3 class="page-title mt-2">系统管理</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin" >首页</a></li>
                            <li class="breadcrumb-item active"><a href="/admin/adminuser">管理员管理</a></li>
                            <li class="breadcrumb-item"></li>
                            <a>添加管理员</a>
                        </ul>
                    </div>
                </div>
            </div>
            <form class="card mb-4" method="post" action="/admin/adminuser/add">
                <h4 class="card-header"><strong>添加管理员</strong></h4>
                <div class="card-body demo-vertical-spacing-sm">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" name="name" placeholder="请输入管理员姓名">
                        <div class="clearfix"></div>
                    </div>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" name="type" placeholder="1表示超级管理员，0表示普通管理员">
                        <div class="clearfix"></div>
                    </div>
                    <div class="input-group-lg">
                        <input type="password" class="form-control" name="pw" autocomplete="off" placeholder="请输入管理员密码">
                        <div class="clearfix"></div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-lg" value="">添加管理员</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include "public/footer.html" %}